:root{
    --primary-color: #f47629;
    --footer-color:#222529;
    --section-color:#f3f3f3;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 27px;
}
header{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
}
main{
    padding-top: 60px;
}
footer{
    background-color:var(--footer-color) ;
    margin-top: 50px;
}